body{

font-family: Arial;
background:#0f172a;
color:white;
margin:0;

}

.container{

width:400px;
margin:auto;
margin-top:100px;
text-align:center;

}

input{

display:block;
width:100%;
padding:10px;
margin:10px 0;

}

button{

padding:10px 20px;
background:#22c55e;
border:none;
color:white;
cursor:pointer;

}

.auth-box{

background:#1e293b;
padding:20px;
margin:20px 0;
border-radius:8px;

}

.navbar{

background:#020617;
padding:15px;
display:flex;
justify-content:space-between;

}

.layout{

display:flex;

}

.sidebar{

width:200px;
background:#1e293b;
padding:20px;

}

.main{

flex:1;
padding:20px;

}

.resource{

background:#1e293b;
padding:15px;
margin:10px 0;
display:flex;
justify-content:space-between;

}

.booking{

background:#1e293b;
padding:10px;
margin:10px 0;

}
